@using LDJam55.Game.Services
@{
    var frameType = Frame.GetType().Name.Replace(nameof(FrameAggegrate), "");
}
<div class="innerFrame @Frame.Path @frameType actor-@(Frame.Actor)" id="Story-@(Frame.Path)">
</div>

<Microsoft.AspNetCore.Components.Sections.SectionContent SectionId="Game.UiSectionId">
    <div class="innerFrame @Frame.Path @frameType actor-@(Frame.Actor)" id="Story-@(Frame.Path)">
        <h3>Story frame (@(Frame?.Path))</h3>

        <p class="output"><span class="actor">@(Frame?.Actor)</span><span class="message">@(Frame?.Text)</span></p>

        <button class="next" @onclick="Next">Next</button>
    </div>
</Microsoft.AspNetCore.Components.Sections.SectionContent>
